<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>input</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-input></ion-input>

  <ion-input></ion-input>

  <ion-input value="conteudo"></ion-input><!--  input com valor -->

  <ion-input color="danger" placeholder="informe seu nome"></ion-input><!-- input com placeholder -->

  <ion-input clearInput value="com icone para apagar"></ion-input>

  <ion-input value="Disabled" disabled></ion-input>

  <ion-input value="Readonly" readonly></ion-input>

  <ion-input type="url" placeholder="informe a url"></ion-input>

  <ion-input type="password"></ion-input>

  <ion-input type="color"></ion-input>

  <ion-input type="search"></ion-input>

  <ion-item>
    <ion-label position="floating">Floating Label</ion-label>
    <ion-input></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="fixed">Fixed Label</ion-label>
    <ion-input></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="stacked">Stacked Label</ion-label>
    <ion-input></ion-input>
  </ion-item>


</ion-content>