<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>categoria</ion-title>
    <ion-button></ion-button>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  
  <ion-list>
    <ion-item>
      <ion-label>Refeição</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>sobremesa</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Lanche</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>sopa</ion-label>
    </ion-item>
  </ion-list>


</ion-content>
