<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-button slot="end" (click)="fecharModal()">Fechar</ion-button>
    <ion-title>{{ atualizar ? 'Atualizar Produto ' : 'Novo Produto' }}</ion-title>  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <form #f="ngForm" (ngSubmit)="enviando(f)">
    <ion-item>
      <ion-label position="floating">Descrição</ion-label>
      <ion-input [(ngModel)]="dados.descricao" name="descricao"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Quantidade</ion-label>
      <ion-input [(ngModel)]="dados.quantidade" name="quantidade"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">valor</ion-label>
      <ion-input [(ngModel)]="dados.valor" name="valor"></ion-input>
    </ion-item>
    
    <ion-button fill="outline" expand="block" type="submit">{{ atualizar ? 'Atualizar Produto' : 'Cadastrar Produto' }}</ion-button>  </form>
</ion-content>